@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'SF Pro Display', sans-serif;
    width: 100%;
    min-height: 100vh;                                                
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter:  blur(100%);
    z-index: 1000;
}

.navbar-container{
    width: 100%;
    height: 100%;
}

.navbar-list{
    width: 80%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-list li{
    height: 100%;
    display: flex;
    align-items: center;

}

.navbar-list .hide{
    display: none;
}

.navbar-list li a{
    color: #f5f5f7;
    font-size: 12px;
    letter-spacing: 0px;
    transition: opacity .3s;
}

.navbar-list li .search-icon{
    font-size: 16px;
}

.navbar-list li a:hover{
    opacity: .8;
}

#hero-section{
    height: 87vh;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
    position: relative;
}

.iPad-link{
    display: block;
    height: inherit;
    background-image: url(/img/hero-img/hero-banner-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.iPad-info{
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iPad-info h1{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
}

.iPad-info h3{
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: .009em;
    font-weight: 400;
    margin-top: 10px;
}

.iPad-info a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 19px;
    line-height: 23.0001px;
    letter-spacing: 0.228px;
    font-weight: 400;
    color: #2997FF;
}

#iPhone14Pro-section{
    width: 100%;
    height: 90vh;
    position: relative;
    background-color: black;
    margin-bottom: 15px;
}

.iPhone14Pro-link{
    display: block;
    height: inherit;
    background-image: url(/img/iPhone14Pro-img/iPhone14-Pro-largest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.iPhone14Pro-info{
    position: absolute;
    top: 8%;
    left: 40%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iPhone14Pro-info h1{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
}

.iPhone14Pro-info h3{
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: .009em;
    font-weight: 400;
    margin-top: 10px;
}

.iPhone14Pro-info a{
    color: rgb(41, 151, 255);
    font-size: 21px;
    line-height: 29.001px;
    letter-spacing: 0.231px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 10px
}

#iPhone14-section{
    width: 100%;
    height: 90vh;
    background-color: rgb(251,251,253);
    position: relative;
    margin-bottom: 15px;
}

.iPhone14-link{
    display: block;
    width: 100%;
    height: inherit;
    background-image: url(/img/iPhone14/iPhone14-large-img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.iPhone14-info{
    position: absolute;
    top: 7%;
    left: 43%;
    color: #1d1d1f;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iPhone14-info h1{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    margin-top: 10px;
}

.iPhone14-info h3{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-top: 10px;
}

.iPhone14-info a{
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 200;
    letter-spacing: .012em;
    color: #06c;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.iPhone14-info a:hover{
    text-decoration: underline;
}

.iPhone14-info a:hover span{
    text-decoration: none;
}

#products-grid{
    margin-top: 15px;
    width: 100%;
    height: 180vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-inline: 15px;
    margin-bottom: 15px;    
}

.products-grid-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.products-link{
    display: block;
    height: 100%;
}

.iPad-Pro-link{
    background-image: url(/img/product-grid-img/iPad-Pro-large-img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.Macbook-Air-link{
    background-image: url(/img/product-grid-img/Macbook-Air-large-img.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.Macbook-Pro-13-link{
    background-image: url(/img/product-grid-img/Macbook-Pro-large-img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.iPad-Air-link{
    background-image: url(/img/product-grid-img/iPad-Air-large-img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.products-details{
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f7;
}

.Macbook-Air-details{
    color: black;
}

.products-details h1{
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    white-space: nowrap;
}

.Macbook-Air-details h4{
    width: 100%;
    height: 30px;
    background-image: url(/img/product-grid-img/Macbook-Air-processor-img.png);
    background-repeat: no-repeat;
    /* background-size: 112px 30px; */
    background-position: 50% 50%;
}

.iPad-Air-details h1{
    width: 100%;
    height: 30px;
    background-image: url(/img/product-grid-img/iPad-Air-logo.png);
    background-repeat: no-repeat;
    background-size: 112px 30px;
    background-position: 50% 50%;
    display: unset;
}

.products-details h4{
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    margin-top: 4px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.products-details h4 span{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(/img/product-grid-img/apple-processor-img.png);
}

.products-details a{
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    display: flex;
    align-items: center;
    color: rgb(41, 151, 255)
}

.products-details a:hover{
    text-decoration: underline;
}

.products-details a:hover>span{
    text-decoration: none;
}

@media screen and (max-width: 1100px){
    #hero-section{
        height: 85vh;
    }

    #products-grid{
        height: 150vh;
    }
}
/* Small laptops */
@media screen and (max-width: 1024px){
    #hero-section{
        height: 60vh;
    }
    .iPad-link{
        display: block;
        height: inherit;
        background-image: url(/img/hero-img/hero-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    #iPhone14Pro-section{
        width: 100%;
        height: 54vh;
        position: relative;
        background-color: black;
    }

    .iPhone14Pro-link{
        background-image: url(/img/iPhone14Pro-img/iPhone14-Pro-small-laptop.jpg);
    }

    .iPhone14Pro-info{
        position: absolute;
        top: 8%;
        left: 38%;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #iPhone14-section{
        width: 100%;
        height: 60vh;
        background-color: rgb(251,251,253);
        position: relative;
        border-bottom: 10px solid white;
    }
    
    .iPhone14-link{
        background-image: url(/img/iPhone14/iPhone14-medium-img.jpg);
    }

    .iPhone14-info{
        top: 15%;
        left: 40%;
    }

    #products-grid{
        height: 90vh;
    }

    .products-details h1{
        font-size: 32px;
        line-height: 1.125;
        letter-spacing: .002em;
    }
    
    .Macbook-Air-details h4{
        width: 100%;
        height: 30px;
        background-image: url(/img/product-grid-img/Macbook-Air-processor-img.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    
}

/* Tablet view */
@media screen and (max-width: 940px) {
    .navbar-list .hide{
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar-list .hide .menu-hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .3rem;
        width: 15px;
        height: 15px;
    }

    .navbar-list .hide .menu-hamburger span{
        border-top: 1px solid white;
    }

    .navbar-list .show{
        display: none;
    }

    .navbar-list .visible{
        visibility: hidden;
    }

    #hero-section{
        height: 60vh;
    }

    .iPhone14Pro-info{
        position: absolute;
        top: 8%;
        left: 30%;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iPhone14-info{
        top: 15%;
        left: 35%;
    }
}


/* Phone view */
@media screen and (max-width: 600px){
    #hero-section{
        height: 50vh;
    }


    .iPad-link{
        background-image: url(/img/hero-img/phone-hero-banner.jpg);
    }

    .iPad-info{
        top: 7%;
        left: 25%;
    }

    .iPad-info h1{
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
    }

    .iPad-info h3{
        font-size: 19px;
        line-height: 1.21053;
        letter-spacing: 0em;
        font-weight: 200;
        margin-top: 5px;
    }

    .iPad-info a{
        font-size: 17px;
        line-height: 1.23536;
        letter-spacing: unset;
        font-weight: 400;
        color: #2997FF;
    }

    #iPhone14Pro-section{
        width: 100%;
        height: 50vh;
    }

    .iPhone14Pro-link{
        background-image: url(/img/iPhone14Pro-img/phone-iPhone14-Pro-img.jpg);
    }

    .iPhone14Pro-info{
        left: 25%;
    }
    .iPhone14Pro-info h1, .iPhone14-info h1{
        font-size: 32px;
        line-height: 1.125;
        letter-spacing: .004em;
    }

    .iPhone14Pro-info h3, .iPhone14-info h3{
        font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: 0em;
    }

    .iPhone14Pro-info a, .iPhone14-info a{
        font-size: 17px;
        line-height: 1.23536;
        font-weight: 400;
        letter-spacing: -.022em;
    }

    #iPhone14-section{
        height: 50vh;
    }

    .iPhone14-info{
        top: 10%;
        left: 30%;
    }

    #products-grid{
        height: 200vh;
        grid-template-columns: repeat(1, 1fr);
        padding-inline: 0px;

        /* grid-auto-rows: 40vh; */
    }
}

@media screen and (max-width: 385px) and (min-height: 668px){
    #hero-section{
        height: 50vh;
    }

    .iPad-info{
        top: 7%;
        left: 20%;
    }

    .iPhone14Pro-info{
        left: 25%;
    }

    #iPhone14Pro-section{
        height: 50vh;
    }

    #iPhone14-section{
        width: 100%;
        height: 50vh;
        background-color: rgb(251,251,253);
        position: relative;
        border-bottom: 10px solid white;
    }
    
    .iPhone14-link{
        background-image: url(/img/iPhone14/iPhone14-medium-img.jpg);
    }

    .iPhone14-info{
        top: 10%;
        left: 30%
    }
}

@media screen and (max-width: 385px) and (max-height: 667px){
    #iPhone14Pro-section{
        height: 70vh;
    }

    #iPhone14-section{
        width: 100%;
        height: 70vh;
        background-color: rgb(251,251,253);
        position: relative;
        border-bottom: 10px solid white;
    }

    #products-grid{
        height: 280vh;
        grid-template-columns: repeat(1, 1fr);
        padding-inline: 0px;

        /* grid-auto-rows: 40vh; */
    }
    
}

@media screen and (max-width: 325px) {
    #hero-section{
        height: 45vh;
    }

    .iPad-info{
        top: 7%;
        left: 15%;
    }

}